{% assign t = site.data.locales[page.lang][page.lang] %}

{% if page.lang and page.lang != "en" %}
{% assign lang_dir = page.lang | prepend: "/" %}
{% endif %}

<nav class="text-center">
  <a href="{{ site.baseurl }}/{{ lang_dir }}/#participate">
    {{ t.Contributors }}
  </a>

  {% if page.url == "/businesses/" %}
  <span class="ml-4">
    {{ t.Businesses }}
  </span>
  {% else %}
  <a class="ml-4" href="{{ site.baseurl }}/{{ lang_dir }}/businesses">
    {{ t.Businesses }}
  </a>
  {% endif %}

  {% if page.url == "/maintainers/" %}
  <span class="ml-4">
    {{ t.Maintainers }}
  </span>
  {% else %}
  <a class="ml-4" href="{{ site.baseurl }}/{{ lang_dir }}/maintainers">
    {{ t.Maintainers }}
  </a>
  {% endif %}

  <a class="ml-4" href="https://youtube.com/playlist?list=PL0lo9MOBetEFmtstItnKlhJJVmMghxc0P">
    {{ t.YouTube }}
  </a>
</nav>
